*{
    margin: 0;
    padding: 0;
    /* specifies the behavior of the width and height of the properties */
    box-sizing: border-box; 

}

body{
   /* background-color: #333; */
    line-height: 1.5;
    font-family: sans-serif;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

.row{
    display:flex;
    flex-wrap: wrap;
}
.container{
    max-width: 1157px;
    margin: auto;
}

.flip-main{
    min-height: 100vh;
    background-color: #dde3f7;
    padding: 100px 0;

}

.flip-main .flip-card{
    flex: 0 0 calc(33.33% - 30px);
    margin: 0 15px 30px;
    perspective: 1000px;
}

.flip-main .flip-card-inner{
    box-shadow: 0 0 10px #9c9ea6;
    /* relative and absolute are the reason why its in the cointainer those textes and the left:0 and top: 0 */
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease;
}
.flip-main .flip-card-front img{
    width: 100%;
    /* opacity: 0.5; */
}
/* .flip-main .flip-card-front, */
.flip-main .flip-card-back{
    backface-visibility: hidden;
}
.flip-main .flip-card-back{
    background-color: rgb(82, 177, 225, 0.7);
    /* background-color: rgb(165, 0, 236); */
    position: absolute;
    left:0;
    top:0;
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: rotateY(180deg);
}

.flip-main .flip-card-back h3{
    font-size: 23px;
    color: #fff;
    margin: 0 0 5px;
}

.flip-main .flip-card-back p{
    font-size: 16px;
    color: #fff;
    margin: 0;
}

.flip-main:hover .flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}

/* .flip-main .flip-card-back .text{
    background-color: red;
} */

.flip-main .flip-card-inner .inner-text {
    font-size: 20px;
    color:#240000;
    font-weight: bold;
    position: absolute;
    bottom:0;
}

.flip-main .main-text-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* responsive */

@media (max-width: 991px) {
    /* positioning sa images */
    .flip-main .flip-card {
        flex: 0 0 calc(50% - 30px);
    }
}

@media (max-width: 765px) {
    .flip-main .flip-card {
        flex: 0 0 calc(100% - 30px);
    }
}

/* @media (max-width:655px){
    .flip-card-inner .inner-text {
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        left: 37%;
        bottom:0;
    }
} */